.abxy, .arrows, .stick.right, .dpad, .bumpers, .quadrant {
	display: none !important;
}

.controller.xbox.active {
	background: none !important;
}

.xbox .sticks {
	top: 20px !important;
	left: 335px !important;
}
